<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Informações</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h3 class="ion-no-margin">Sobre este aplicativo</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequatur expedita quos deleniti, mollitia vel!
      Facere, doloribus quisquam? Necessitatibus explicabo natus provident consequatur exercitationem quasi dolorum
      magni non est error.</p>

    <h3>Sobre o autor</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsum rerum dolorem, fugiat itaque, accusamus
      aut illo quis, libero ipsam ad veritatis eum quae! Modi accusamus earum facere dicta totam.</p>

    <h3>Sobre sua privacidade</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis soluta consequatur libero recusandae placeat
      veniam blanditiis repellat sint labore dignissimos, quaerat enim ab, quas laboriosam laborum, molestiae corporis
      pariatur ad!</p>

  </div>

</ion-content>