<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login / Entrar</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <h2 class="ion-no-margin">Olá!</h2>

    <p>Para que você possa acessar os serviços deste aplicativo, é necessário estar logado(a)...</p>
    <p>Escolha um método de entrada clicando no botão.</p>

    <div class="login-table">

      <p>Entrar com:</p>&nbsp;

      <!-- 3.1) Botões de login com redes sociais -->

      <ion-button expand="block" (click)="login('google')">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        <ion-label>Google</ion-label>
      </ion-button>

      <!-- 16.1) Bloqueando botões ainda sem uso -->
      <ion-button class="ion-margin-top" expand="block" (click)="login('facebook')" disabled="true">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-button>

      <ion-button class="ion-margin-top" expand="block" (click)="login('twitter')" disabled="true">
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        <ion-label>Twitter</ion-label>
      </ion-button>

      <ion-button class="ion-margin-top" expand="block" (click)="login('github')" disabled="true">
        <ion-icon name="logo-github" slot="start"></ion-icon>
        <ion-label>GitHub</ion-label>
      </ion-button>

      <!-- ... -->

    </div>

  </div>

</ion-content>